:root {
    app-grey: #f7f7f7;
    secondary-light-gray: #dedada; 
    charcoal-grey-two: #404245; 
    primary-text-color: #404245; 
    extra-dark-text-color: #26282a;  
    icon-grey: #afbdc8;  
    hover-teal: #00bfbe;   
    card-grey: #e9e9e9;  
    placeholder-text-color: #c0c6cc;  
    secondary-text-color: #a5a5a5;  
    toolbar-grey: #dedede;   
    inactive-grey: #f2f2f2;  
    greeny-blue-four: #4cbbba;  
    topaz: #13bcbc;  
    light-teal-five: #75dfbf;  
    pale-teal-three: #86c0b5;  
    pale-teal-four: #87cdc4;  
    viridian: #258584;  
    done-green: #00d19c;  
    sun-yellow: #fed430;  
    warning-yellow: #e6c236;  
    light-orange: #fbac43;  
    primary-brand-2-hover: #fbbc68;  
    primary-brand-2-click: #e19a3c;  
    coral: #f8615a;  
    primary-brand-1: #68c0b5;
   
    gunmetal: #545b61;
    charcoal-grey: #2f2b35;
    charcoal-grey-two: #404245;  
    primary-text-color: #404245;  
    charcoal-grey-three: #4a4a4a;
    charcoal-grey-four: #3e4347;
    charcoal-grey-five: #292f33;
    dark-grey: #26282a;
    scrollbar-gray : #B9BDC5;
    extra-dark-text-color: #26282a;  
   
    purple-brown: #221f20;
    purplish-brown: #423642;
    greyish-brown: #585243;
    greyish-brown-two: #424242;
    adobe: #c1694f;
    pinkish-tan: #d3976e;
    pinkish-tan-two: #d99e82;
    eggshell: #efffd9;
    beige: #f3eee5;

    sky: #75d6ff;
    bright-sky-blue: #00baff;
    bright-sky-blue-two: #2dc3f4;
    bright-sky-blue-three: #00b9f1;
    windows-blue: #3b88c3;
    warm-blue: #4f49d5;
    very-light-blue: #fdfdff;
    very-light-blue-two: #e6f5ff;
    light-navy-blue: #302c82;
    neutral-blue: #56b9fb;
    sky-blue-two: #66c2ff;
    french-blue: #4873a8;
    cloudy-blue: #b1bacd;
    cloudy-blue-two: #abd2c6;
    cloudy-blue-three: #ccd6dd;
    seafoam-blue: #73d5ca;
    seafoam-blue-two: #5bc7a1;
    greeny-blue: #5bc6a0;
    greeny-blue-two: #40ad88;
    greeny-blue-three: #57c39d;
    greeny-blue-four: #4cbbba;  
    green-blue: #00d19c;
    green-blue-two: #00be8e;
    greenblue: #1dbe8e;
    greenblue-two: #29c294;
    greenblue-three: #22be90;
    greenblue-four: #25bf93;
    
    topaz: #13bcbc;  
    tealish: #26bcbb;
    light-teal: #87cdc4;
    light-teal-two: #75dfb8;
    light-teal-three: #b5eada;
    light-teal-five: #75dfbf;  
    pale-teal: #9fd7ad;
    pale-teal-two: #9dd8ac;
    pale-teal-three: #86c0b5;  
    lightest-teal: #A3DAD2;
    blue-green: #1b7a78;
    blue-green-two: #127a79;
    turtle-green: #7bbf52;
    turtle-green-two: #83bf4f;
    kiwi-green: #a3e66f;
    grey-green: #89967a;
    avocado-green: #6ea622;
    asparagus: #78b159;
    done-green: #00d19c;  
    
    mustard: #dbac00;
    golden: #dbac00;
    golden-two: #f1cc00;
    golden-three: #f0cc00;
    light-gold: #ffcc4d;
    sun-yellow: #fed430;  
    wheat: #ffd980;
    wheat-two: #ffd983;
    wheat-three: #fdd888;
    light-mustard: #f8e05b;
    butter: #fffb80;
    warning-yellow: #e6c236;  

    apricot: #fcbe74;
    light-orange: #fbac43;  
    light-orange-two: #f9ab4e;
    mango: #ffac33;
    pumpkin-orange: #f97e00;
    pumpkin-orange-two: #f77e16;
    pumpkin-orange-three: #f4900c;
    pumpkin-orange-four: #f77e23;
    pale-orange: #f9b35f;
    primary-brand-2-hover: #fbbc68;  
    primary-brand-2-click: #e19a3c;  


    light-peach: #fec3ab;
    peachy-pink: #fc907c;
    peachy-pink-two: #f9907f;
    coral-pink: #ff5263;
    medium-pink: #ea596e;

    coral: #f8615a;  
    rusty-red: #ce3416;
    salmon: #ff6864;
    salmon-two: #ff6666;
    lipstick: #dd2e44;
    
    warm-purple: #652a85;
    amethyst: #9758ba;
    periwinkle: #9180ff;
    blueberry: #542a7c;
    dark-grey-two: #828c92;
    card-header-white: #fcfdff;
    text-icon: #5442dd;
    trophy: #f8e71c;
    }