

body {
    background-color: #f8f5e8;
}

h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #e18984;
    font-weight: lighter;
    font-size: 400%;
    text-align: center;
    padding: 48px;
}

p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #919B3A;
}

h2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #536F05;
    font-weight: lighter;
    font-size: 170%;
}

li {
    color: #6D3952;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.flash-msg {
    color:#6D3952;
    background-color:antiquewhite;
    padding: 8px;
    margin: 0;
}

/* .navigation {
    display: flex;
    position: static;
    flex-direction: row;
    background-color: #919B3A;
    font-weight: 600;
    text-transform: uppercase;
    justify-content: space-between;
} */

/* .navigation h2 {
    color:#132a13;
    margin: 16px;
} */


.navigation {
    background-color:#919B3A;
    margin:0;
    padding:0;
    font-weight: 400;
    
}

.navigation h2 {
    color: white;
    text-transform: uppercase;
    margin: 16px;
    padding:0;
}



.bi {
    color: white;
}

.navigation li a{
    color:white;
    text-decoration: none;


}

.navigation a:hover {
    text-decoration: underline;
    color:#cc6b9a;
    cursor: pointer;
}


.nav {
    align-items: center;
}
.nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    margin: 0;
}


.homepage-body {
    background-image: url('background-image-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}

#update_username {
    display : none; 
    color: pink;
}



.change-username {
    font-size: 32px;
    display: flex;
    justify-content: center;
}

.change-username button {
    border: 0;
    background: none;

}

.change-username p {
   margin: 8px 8px 0 0

}


.username-section {
    height: 120px;
}


.btn-in-list {
    margin:2px 0px 2px 0px;
    color:#6D3952;
    border-color: #536F05;
}


.submit-btn {
    background: none;
    color:#6D3952;
    border-color: #6D3952;
    border-radius: 8px;
    border-width: thin;
}


.card {
    display: inline-block;
    margin: 16px;
    text-wrap: wrap;
    width: 300px;
}

.filter-section {
    display: inline-block;
}


.search-and-filter-background {
    background-image: url('plants-background-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    --bs-gutter-x: 0;
}
.search-and-filter-background h3 {
    text-align: center;
    padding-bottom: 16px;
}

.search-or-filter {
    background-color:rgb(247, 245, 232, 0.65);
    margin-right: 40px;
    padding: 24px;
    border-radius: 16px;
    margin-top: 80px;
}

.center-my-button-pls {
    display:flex;
    justify-content: right;
    padding-top: 16px;
}

.search-or-filter .submit-btn {
    background-color:rgb(247, 245, 232);
}

.new-garden .submit-btn {
    display: flex;
    justify-content: right;
    margin-top: 16px;
}

.log-out-form-section {
    margin: 24px;
}


.homepage-forms {
    display: flex;
    justify-content: center;
    padding: 24px;

    margin-top: 80px;
 

}

.homepage-form-section {
    background-color:rgb(247, 245, 232, 0.65);
    margin-right: 20px;
    border-radius: 16px;
    padding: 24px;
}


.homepage-form-section .submit-btn {
    margin-top: 16px;
}

.homepage-form-section label {
    color:#4a2738;
}


.btn-primary{
    background-color: #6D3952;
    border-color: #6D3952;
}

.card a:hover {
    background-color: #f3a6cb;
    color:#402230;
    border-color: #f3a6cb;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 148px;
    z-index: 10;
    background-color: white;

}

.card-title {
    text-align: center;
    height: 54px;
}

.card-img-top {
    width: 100%;
    height: 22vw;
    object-fit: cover;

}