

body {
    background-color: rgb(246, 229, 229);

}

h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #919B3A;
    font-weight: lighter;
    font-size: 400%;
    text-align: center;
    margin: 48px;
}

p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #919B3A;
}

h2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #536F05;
    font-weight: lighter;
    font-size: 170%;
}

li {
    color: #6D3952;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.flash-msg {
    color:#6D3952;
    background-color:antiquewhite;
    padding: 8px;
    margin: 0;
}

/* .navigation {
    display: flex;
    position: static;
    flex-direction: row;
    background-color: #919B3A;
    font-weight: 600;
    text-transform: uppercase;
    justify-content: space-between;
} */

/* .navigation h2 {
    color:#132a13;
    margin: 16px;
} */


.container {
    background-color:#919B3A;
    margin:0;
    padding:0;
    font-weight: 400;
    
}

.container h2 {
    color: white;
    text-transform: uppercase;
    margin: 16px;
    padding:0;
}



.bi {
    color: white;
}

.container li a{
    color:white;
    text-decoration: none;


}

.container a:hover {
    text-decoration: underline;
    color:#cc6b9a;
    cursor: pointer;

}

.nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    margin: 0;
}

#update_username {
    display : none; 
    color: pink;
}

.forms {
    display: flex;
    justify-content: center;

}

.form-section {
    margin: 24px;
}

.change-username {
    font-size: 32px;
    display: flex;
    justify-content: center;
}

.change-username button {
    border: 0;
    background: none;

}

.change-username p {
   margin: 8px 8px 0 0

}


.username-section {
    height: 160px;
}


.btn-in-list {
    margin:2px 0px 2px 0px;
    color:#6D3952;
    border-color: #536F05;
}


.submit-btn {
    background: none;
    color:#6D3952;
    border-color: #6D3952;
    border-radius: 8px;
    border-width: thin;
}


.card {
    display: inline-block;
    margin: 16px;
    text-wrap: wrap;
    width: 300px;
}

.filter-setion {
    display: inline-block;
}