{% extends 'base.html' %}

{% block garden %}{{ garden.title }} - Details{% endblock %}

{% block body %}
<h1>{{ garden.title }}</h1>
<p>{{ garden.description}}</p>

<p>Creator: {{ garden.creator.email }}</p>
<br>
<p>
  Plants: 
  {% for plant in garden.garden_plants %}

   {{ plant.plant.name }}, 
  {% endfor %}
</p>

{% if garden.creator_id == session['user'] %}
    <p>edit plants</p>

    <form action="/remove-plant-from-garden" method="POST">
      <select name="remove-plant" id="remove-plant">
        {% for garden_plant in garden.garden_plants%}
        <option value={{garden_plant.garden_plant_id}}>{{garden_plant.plant.name}}</option>
        {% endfor %}
      </select>
      <input type="hidden" name="garden_to_remove_from" value='{{garden.garden_id}}'>
      <input type="submit" value="Remove">
    
    </form>

    <br>


    <form action="/remove-garden" method="POST">
      <label for="remove-garden">Delete Garden?</label>
      <br>
      <input type="checkbox" name="remove" value="standard" id="remove-garden">
      <input type="hidden" name="garden_to_remove" value='{{garden.garden_id}}'>
      <input type="submit" value="Yes, delete garden." >
      
    </form>


{% endif %}

{% endblock %}

