{% extends 'base.html' %}
{% block title %}Gardens Home{% endblock %}

{% block body %}
<div class="homepage-body">


    <h1>Welcome to gardening planner!</h1>


    {% if 'user' not in session %}
<div class="forms">
  <div class="form-section">
    <h2>Create an Account</h2>
    <form action="/users" method="POST">
      <p>
        Email <input type="text" name="email">
      </p>

      <p>
        Username <input type="text" name="username">
      </p>

      <p>
        Password <input type="password" name="password">
      </p>

      <p>
        <input type="submit" value="Create">
      </p>
    </form>
  </div>

  <div class="form-section">
    <h2>Log In</h2>
    <form action="/login" method="POST">
      <p>
        Email <input type="text" name="email">
      </p>

      <p>
        Password <input type="password" name="password">
      </p>

      <p>
        <input type="submit" value="Log In">
      </p>
    </form>
  </div>
</div>
</div>
  





  {% endif %}
{% endblock %}