{% extends 'base.html' %}
{% block title %}All Plants{% endblock %}

{% block body %}

<div>
    <h1>search</h1>
    <form action="/search_plants">
        <input type="text" name="search_plant">
        <input type="submit" value="Search!">
    </form>

    <h1>filter</h1>
    <form action="/filter">
        <p>Watering</p>
        <p>Sunlight</p>
        <p>Cycle</p>
        <p></p>

    </form>

</div>

<div class="card-columns">
    <ul class="col">
        {% for plant in plants %}
        <li class="card">
            <img src="{{ plant.thumbnail }}" class="card-img-top" alt="">
            <div class="card-body" >
                <h5 class="card-title">{{ plant.name }}</h5>
                <a class="btn btn-primary" href="/plants/{{ plant.plant_id}}">Visit Plant</a>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock body%}